[submodule "projects/other/Monthly-Expense-Data-Pipeline"]
	path = projects/other/Monthly-Expense-Data-Pipeline
	url = https://github.com/oscarchankalung/Monthly-Expense-Data-Pipeline
[submodule "projects/other/Coderbunker-Freelancers-Monthly-Income-By-Project"]
	path = projects/other/Coderbunker-Freelancers-Monthly-Income-By-Project
	url = https://github.com/oscarchankalung/Coderbunker-Freelancers-Monthly-Income-By-Project
[submodule "projects/other/Scratch-Scoreboard"]
	path = projects/other/Scratch-Scoreboard
	url = https://github.com/oscarchankalung/Scratch-Scoreboard
[submodule "projects/fcc/06-random-generator-pure"]
	path = projects/fcc/06-random-generator-pure
	url = https://github.com/oscarchankalung/Random-Hearthstone-Card-Generator-Pure
[submodule "projects/fcc/06-random-generator-react"]
	path = projects/fcc/06-random-generator-react
	url = https://github.com/oscarchankalung/Random-Hearthstone-Card-Generator-React
[submodule "projects/fcc/07-markdown-previewer-pure"]
	path = projects/fcc/07-markdown-previewer-pure
	url = https://github.com/oscarchankalung/Markdown-Previewer-Pure
