/* default */

:root {
--main-light: white;
--main-dark: black;
--highlight-about: rgb(255, 230, 225);
--highlight-portfolio: rgb(255, 250, 210);
--highlight-projects: rgb(215, 255, 230);
--highlight-gallery: rgb(205, 230, 255);
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Inter, 
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", 
	"Cantarell", "Fira Sans", "Droid Sans", 
	"Helvetica Neue", "Arial", "sans-serif";
}
code {
	font-family: SFMono-Regular,Menlo,Monaco,
	Consolas,"Liberation Mono","Courier New",
	monospace;
}
body {
	color: var(--main-dark);
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}

/* layout */

header {
	position: fixed;
	top: 0;
	z-index: 99;
}
header {
	width: 100%;
	min-height: 80px;
}
main {
	width: 100%;
	height: calc(100vh - 80px - 80px);
	margin-top: 80px;
}
footer {
	width: 100%;
	height: 80px;
}

/* navbar */

#navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#navbar {
	width: 100%;
	height: 100%;
	padding: 0px 30px;
	background-color: var(--main-light);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
#navbar #nav-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80px;
}
#navbar #nav-head #nav-icon {
	width: 48px;
	height: 48px;
	padding: 10px;
	transform: rotate(-20deg);
	background-color: var(--highlight-portfolio);
	border-radius: 50%;
}
#navbar #nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80px;
}
#navbar #nav-list a {
	font-size: 16px;
	font-weight: 500;
	padding: 10px 12px;
	color: var(--main-dark);
	border-radius: 5px;
}
#navbar #nav-list a:hover,
#navbar #nav-list a.current {
	background-color: var(--highlight-portfolio);
}
#navbar #nav-list a + a {
	margin-left: 16px;
}
@media (max-width: 700px) {
	#navbar {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0px;
	}
	#navbar {
		border-bottom: none;
		box-shadow: none;
	}
	#navbar #nav-head {
		justify-content: flex-start;
	}
	#navbar #nav-head {
		width: 100%;
		padding: 0px 30px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	}
	#navbar #nav-head #nav-icon:hover {
		cursor: pointer;
	}
	#navbar #nav-list {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	#navbar #nav-list {
		width: 100%;
		height: auto;
		padding: 24px 30px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	}
	#navbar #nav-list a + a {
		margin-top: 20px;
		margin-left: 0px;
	}
}
@media (max-width: 700px) {
	#navbar #nav-list.invisible {
		display: none !important;
	}
}


/* construction */

#construction {
	max-width: 900px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#construction #inconvenience {
	max-height: 360px;
}
@media (max-width: 700px) {
	#construction {
		padding: 40px 30px;
	}
}

/* contacts */

#contacts {
	width: 100%;
	height: 100%;
	padding: 0px 30px;
	background-color: var(--main-light);
	border-top: 1px solid rgba(0,0,0,0.1);
}
#contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
#contacts p {
	font-size: 16px;
	font-weight: bold;
}
#contacts a {
	display: flex;
	align-items: center;
	justify-content: center;
}
#contacts a {
	font-size: 22px;
	color: var(--main-dark);
}
#contacts li {
	list-style: none;
}
#contacts li + li {
	margin-left: 14px;
}